<!-- {{roles}} -->

<p>Role List</p>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let r of roles">
          <th scope="row">{{r.roleId}}</th>
          <td>{{r.roleName}}</td>
          <td><button class="btn" (click)="delete(r.roleId)">Delete</button>|<button class="btn" (click)="getRoleByIdWithModel(r.roleId)">View</button>|<a class="btn" routerLink="/user/viewRole/{{r.roleId }}">New View</a>|<a class="btn" routerLink="/user/updateRole/{{r.roleId }}">Update View</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<p-dialog header="RoleDetail"  [transitionOptions]="'51ms'"  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [(visible)]="display">
  {{roleName}}
</p-dialog>